<% @posts.each do |post| %>
  <article class="articlecontent">

  <h2><%= link_to post.title, post_path(post)  %></h2>
  <p>
    <%= render_markdown(post.body)%>
  </p>
  </article>
<% end %>

<%= will_paginate @posts %>
